#u1009_align_to_page
{
	max-width: 960px;
}

#u1012-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 17px;
	line-height: 20px;
	font-family: '__Oswald_5';
	font-weight: 300;
}

#menuu767
{
	border-width: 0px;
	border-color: transparent;
	background-color: #0071BC;
}

#u901,#u768,#u769
{
	background-color: transparent;
}

#u1009,#u769:hover
{
	background-color: #29ABE2;
}

#u769:active
{
	background-color: #6B6B6B;
}

#u771-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: '__Oswald_5';
	font-weight: 300;
}

#u775,#u776
{
	background-color: transparent;
}

#u776:hover
{
	background-color: #29ABE2;
}

#u776:active
{
	background-color: #6B6B6B;
}

#u779-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: '__Oswald_5';
	font-weight: 300;
}

#u812,#u813
{
	background-color: transparent;
}

#u813:hover
{
	background-color: #29ABE2;
}

#u813:active
{
	background-color: #6B6B6B;
}

#u815-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: '__Oswald_5';
	font-weight: 300;
}

#u833,#u836
{
	background-color: transparent;
}

#u836:hover
{
	background-color: #29ABE2;
}

#u836:active
{
	background-color: #6B6B6B;
}

#u837-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: '__Oswald_5';
	font-weight: 300;
}

#u854,#u857
{
	background-color: transparent;
}

#u857:hover
{
	background-color: #29ABE2;
}

#u857:active
{
	background-color: #6B6B6B;
}

#u859-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: '__Oswald_5';
	font-weight: 300;
}

#u875,#u878
{
	background-color: transparent;
}

#u878:hover
{
	background-color: #29ABE2;
}

#u878:active
{
	background-color: #6B6B6B;
}

#u769.MuseMenuActive,#u776.MuseMenuActive,#u813.MuseMenuActive,#u836.MuseMenuActive,#u857.MuseMenuActive,#u878.MuseMenuActive
{
	background-color: #999999;
}

#u879-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: '__Oswald_5';
	font-weight: 300;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2285
{
	background: transparent url("../images/maxresdefault-u2285-fr.png") no-repeat left top;
	background-size: cover;
}

#u1321
{
	background-color: transparent;
}


